body {
  font-family: "Franklin Gothic Medium", sans-serif;
  text-align: center;
  background: url(images/mario-bg.jpg);
  background-size: cover;
}
#board {
  width: 540px;
  height: 540px;
  background-color: green;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  background: url(images/soil.png);
  background-size: cover;
  border: 3px solid white;
  border-radius: 25px;
}
#board div {
  width: 180px;
  height: 180px;
  background-image: url(images/pipe.png);
  background-size: cover;
}
